[Unit]
Description=SpringRTS logfile service via JSON-RPC over TCP
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=infolog
Group=infolog
Restart=always
RestartSec=5
ExecStart=/home/infolog/venv_springlogs /home/infolog/springlogs/manage.py runserver_jsonrpc_over_tcp 5555
