[Unit]
Description=logs.springrts.com daemon for JSON-RPC over TCP
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=infolog
Group=infolog
Restart=always
RestartSec=5
ExecStart=/home/infolog/virtenvs/spring_logs/bin/python3 /home/infolog/sites/springrts_logs/manage.py runserver_jsonrpc_over_tcp 5555
