[Unit]
Description=gunicorn daemon for springrts_logs service
Requires=springrts-logs-gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=infolog
Group=infolog
RuntimeDirectory=gunicorn
WorkingDirectory=/home/infolog/sites/springrts_logs
ExecStart=/home/infolog/virtenvs/spring_logs/bin/gunicorn \
	--pid /run/gunicorn/pid   \
	--bind unix:/run/gunicorn/socket \
	--access-logfile /home/infolog/springrts_logs.access.log \
	--error-logfile /home/infolog/springrts_logs.error.log \
	--log-level debug \
	--workers 2 \
	--capture-output \
	springrts_logs.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
