<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Dansan" />
    <meta name="Description" content="spring-launcher Logfile"/>
    <meta name="Keywords" content="spring-launcher Logfile SpringRTS"/>
    <title>spring-launcher logfile #{{ logfile.pk }}</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/journal/bootstrap.min.css" integrity="sha384-5C8TGNupopdjruopVTTrVJacBbWqxHK9eis5DB+DYE6RfqIJapdLBRUdaZBTq7mE" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <style type="text/css">
        A:link { COLOR: black }
        A:visited { COLOR: black }
        A:active { COLOR: black }
        A:hover { COLOR: blue }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">{{ logfile.name }}</h1>
          <p><i class="fas fa-calendar-day"></i> <span id="entrydate">{{ logfile.created }}</span> &nbsp;&nbsp; {% for tag in logfile.tags.all %}<a href="{{ tag.get_absolute_url }}"><i class="fas fa-tag"></i> {{ tag.name }}</a> {% endfor %}</p>
      </div>
    </div>
    <table class="table table-hover table-sm">
        <tbody>
{% for level, text in lines %}
        <tr class="table-{{ level }}">
            <td><pre style="color: black; margin-bottom: 0">{{ text }}</pre></td>
        </tr>
{% endfor %}
        </tbody>
    </table>
</div>
</body>
<script>
    // replace logfile date above with date in local TZ
    var d = new Date("{{ logfile.created.isoformat }}");
    var tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
    // navigator.browserLanguage for IE<=10
    var lang = navigator.language ? navigator.language:navigator.browserLanguage;
    document.getElementById("entrydate").innerHTML = d.toLocaleString(lang, { timeZone: tz });
</script>
</html>